NEXT_PUBLIC_APP_URL=http://localhost:3000
GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_SUPABASE_URL=https://eaotqpgukbqrvgxxxyhi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Adpx53uBaQpKDDjisSan0g_9uPPWGhL
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
